.container {
    &_home {
        display: table;
        width: 100%;

        .row {
            display: table-row;
            width: 100%;

            #homeComps {
                display: table-cell;
                width: 100%;
            }

            #homeCreateComps {
                padding-top: 0px;
                display: table-cell;
            }
        }
    }

    &_createComp {
        $create-container: #319afc;
        $create-container-shadow: #67b6ff;
        $input-background: white;
        $input-text:#222222;

        //border: 0px solid lighten($create-container, 3%);
        width: 248px;
        //border-radius: 16px;
        padding: 24px 24px 24px 22px;
        background-color: $create-container;
        text-align: center;
        color: white;
        //@include box-shadow(0px, 0px, 10px, 0px, $create-container-shadow);

        h1 {
            text-align: center;
            padding-top: 0px;
            margin-left: auto;
            margin-right: auto;
            font-size: 22px;
            font-weight: 400;
            @include text-shadow(0px, 0px, 2px, $create-container-shadow);
            height: 64px;
        }
        
        #createFlexBox {
            display: flex;
            flex-direction: column;

            div {
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                height: 76px;

                label {
                    display: block;
                    font-size: 16px;
                    @include text-shadow(0px, 0px, -2px, $create-container-shadow);
                    margin-bottom: 0px;
                }

                input {
                    vertical-align: middle;
                    margin: 0;
                    width: 200px;
                    height: 32px;
                    padding: 4px 12px;
                    border-radius: 6px;
                    border: 1.5px dashed $input-background;
                    @include box-shadow(0px, 0px, 2px, 0px, $create-container-shadow);
                    background-color: $input-background;
                    color: $input-text;
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }

        input[type="submit"] {
            margin-top: 20px;
            width: 200px;
            font-size: 16px;
            text-align: center;
            padding: 3px 12px;
            height: 48px;
            border-width: 0px;
            border-radius: 10px;
            background-color: darken($create-container, 25%);
            color: $input-background;
            font-weight: 300;
            @include transition((background-color, color), (0.15s 0.15s), (ease-out ease-out), (0s 0s));

            &:hover {
                background-color: $input-background;
                color: darken($create-container, 25%);
                font-weight: 400;    
            }
        }
    }

    &_comps {
        $back-colour-primary: #e1f1ff;
        $back-colour-secondary: #c5e3ff;
        $back-colour-tertiary: #319afc;
        //$back-colour-border: white;
        text-align: center;

        #compsTable {
            width: 100%;
            border-collapse: collapse;

            thead {
                background-color: $back-colour-tertiary;
                
                .compsHead {
                    padding: 24px 0px;
                    //border-right: 1px solid $back-colour-border;
                    //border-bottom: 1px solid $back-colour-border;
                    font-size: 22px;
                    font-weight: 500;

                    &:last-child {
                        border-right-width: 0;
                    }
                }
            }

            .compsRow {
                background-color: $back-colour-primary;

                &:nth-child(even) {
                    background-color: $back-colour-secondary;
                }

                .compsCell {
                    padding: 16px;
                    //border-right: 1px solid $back-colour-border;

                    &:last-child {
                        border-right-width: 0;
                    }
                }
            }
        }
    }
}