.container {
    $create-container: #1e91fd;
    $create-container-shadow: #67b6ff;
    $input-background: $background-color;
    $input-text: #222222;

    &_home {
        #homeComps {
            margin: 16px;
        }

        #homeCreateComps {
            padding-top: 0px;
            margin: 16px;
        }
    }

    &_createComp {

        //border: 0px solid lighten($create-container, 3%);
        height: 100%;
        border-radius: 20px;
        background-color: $create-container;
        text-align: center;
        color: $input-background;
        //@include box-shadow(0px, 0px, 10px, 0px, $create-container-shadow);

        #createFlexBox {
            display: flex;
            flex-direction: row;

            div {
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                padding: 24px;
                flex: 1;

                &#createName {
                    flex: 2;

                    input {
                        width: 420px;
                    }
                }

                label {
                    padding-top: 0px;
                    display: block;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 400;
                    @include text-shadow(0px, 0px, -2px, $create-container-shadow);
                }

                input {
                    vertical-align: middle;
                    margin: 0;
                    width: 148px;
                    height: 32px;
                    padding: 3px 0px;
                    border-radius: 6px;
                    border: 1.5px dashed $input-background;
                    @include box-shadow(0px, 0px, 2px, 0px, $create-container-shadow);
                    background-color: $input-background;
                    color: $input-text;
                    font-size: 14px;
                    font-weight: 300;
                }

                input[type="submit"] {
                    width: 200px;
                    font-size: 16px;
                    text-align: center;
                    margin-top: 2px;
                    height: 48px;
                    border-width: 0px;
                    border-radius: 10px;
                    background-color: darken($create-container, 25%);
                    color: $input-background;
                    font-weight: 300;
                    @include transition((background-color, color), (0.15s 0.15s), (ease-out ease-out), (0s 0s));
        
                    &:hover {
                        background-color: $input-background;
                        color: darken($create-container, 25%);
                        font-weight: 400;
                    }
                }
            }
        }
    }

    &_comps {
        $back-colour-primary: #c7e5ff;
        $back-colour-secondary: #aed8ff;
        $back-colour-tertiary: #4ba8ff;
        $back-colour-border: $background-color;
        text-align: center;

        #compsTable {
            width: 100%;
            border-spacing: 0px;

            thead {
                background-color: $back-colour-tertiary;
                color: $input-background;

                .compsHead {
                    border-right: 2px solid $back-colour-border;
                    padding: 8px;
                    font-size: 22px;
                    font-weight: 400;
                    @include text-shadow(0px, 0px, 2px, $create-container-shadow);
                    width: 15%;

                    &:first-child {
                        border-top-left-radius: 20px;
                    }

                    &:last-child {
                        border-top-right-radius: 20px;
                        border-right-width: 0;
                    }
                }

                #long {
                    width: 40%;
                }
            }

            .compsRow {
                background-color: $back-colour-primary;
                font-size: 14px;

                &:nth-child(even) {
                    background-color: $back-colour-secondary;
                }

                .compsCell {
                    padding: 10px;
                    border-right: 2px solid $back-colour-border;
                    border-bottom: 2px solid $back-colour-border;

                    &:last-child {
                        border-right-width: 0;
                    }

                    br {
                        display: block;
                        content: "";
                        margin-top: 8px;
                    }
                }

                &:last-child {
                    border-bottom-width: 0;

                    .compsCell {
                        &:first-child {
                            border-bottom-left-radius: 20px;
                        }

                        &:last-child {
                            border-bottom-right-radius: 20px;
                        }
                    }
                }
            }
        }
    }
}