@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ecf4fd;
}

.container_home #homeComps {
  margin: 16px;
}
.container_home #homeCreateComps {
  padding-top: 0px;
  margin: 16px;
}
.container_createComp {
  height: 100%;
  border-radius: 20px;
  background-color: #1e91fd;
  text-align: center;
  color: #ecf4fd;
}
.container_createComp #createFlexBox {
  display: flex;
  flex-direction: row;
}
.container_createComp #createFlexBox div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 24px;
  flex: 1;
}
.container_createComp #createFlexBox div#createName {
  flex: 2;
}
.container_createComp #createFlexBox div#createName input {
  width: 420px;
}
.container_createComp #createFlexBox div label {
  padding-top: 0px;
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-shadow: 0px 0px -2px #67b6ff;
}
.container_createComp #createFlexBox div input {
  vertical-align: middle;
  margin: 0;
  width: 148px;
  height: 32px;
  padding: 3px 0px;
  border-radius: 6px;
  border: 1.5px dashed #ecf4fd;
  -webkit-box-shadow: 0px 0px 2px 0px #67b6ff;
  -moz-box-shadow: 0px 0px 2px 0px #67b6ff;
  box-shadow: 0px 0px 2px 0px #67b6ff;
  background-color: #ecf4fd;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
}
.container_createComp #createFlexBox div input[type=submit] {
  width: 200px;
  font-size: 16px;
  text-align: center;
  margin-top: 2px;
  height: 48px;
  border-width: 0px;
  border-radius: 10px;
  background-color: #01509a;
  color: #ecf4fd;
  font-weight: 300;
  transition-property: background-color, color;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: ease-out, ease-out;
  transition-delay: 0s, 0s;
}
.container_createComp #createFlexBox div input[type=submit]:hover {
  background-color: #ecf4fd;
  color: #01509a;
  font-weight: 400;
}
.container_comps {
  text-align: center;
}
.container_comps #compsTable {
  width: 100%;
  border-spacing: 0px;
}
.container_comps #compsTable thead {
  background-color: #4ba8ff;
  color: #ecf4fd;
}
.container_comps #compsTable thead .compsHead {
  border-right: 2px solid #ecf4fd;
  padding: 8px;
  font-size: 22px;
  font-weight: 400;
  text-shadow: 0px 0px 2px #67b6ff;
  width: 15%;
  border-bottom: 2px solid #ecf4fd;
}
.container_comps #compsTable thead .compsHead:first-child {
  border-top-left-radius: 20px;
}
.container_comps #compsTable thead .compsHead:last-child {
  border-top-right-radius: 20px;
  border-right-width: 0;
}
.container_comps #compsTable thead #long {
  width: 40%;
}
.container_comps #compsTable .compsRow {
  background-color: #c7e5ff;
  font-size: 14px;
}
.container_comps #compsTable .compsRow:nth-child(even) {
  background-color: #aed8ff;
}
.container_comps #compsTable .compsRow .compsCell {
  padding: 10px;
  border-right: 2px solid #ecf4fd;
  border-bottom: 2px solid #ecf4fd;
  font-weight: 300;
  transition-property: background-color, color;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: ease-out, ease-out;
  transition-delay: 0s, 0s;
}
.container_comps #compsTable .compsRow .compsCell:last-child {
  border-right-width: 0;
}
.container_comps #compsTable .compsRow .compsCell br {
  display: block;
  content: "";
  margin-top: 8px;
}
.container_comps #compsTable .compsRow .compsCell:hover {
  background-color: #ecf4fd;
  color: #4ba8ff;
  font-weight: 500;
}
.container_comps #compsTable .compsRow .compsCellDelete:hover {
  color: #ff6666;
}
.container_comps #compsTable .compsRow:last-child {
  border-bottom-width: 0;
}
.container_comps #compsTable .compsRow:last-child .compsCell:first-child {
  border-bottom-left-radius: 20px;
}
.container_comps #compsTable .compsRow:last-child .compsCell:last-child {
  border-bottom-right-radius: 20px;
}

/*# sourceMappingURL=style.css.map */
